<form>
    <nav class="navbar navbar-light">
      <h3>Usuarios</h3>
      <form class="form-inline">
        <button class="btn btn-outline-danger my-2 my-sm-0" (click)="closeDialog(false)"type="button">X</button>
      </form>
    </nav>
  
    <div *ngIf="flagError" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>

        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-12">
                        <label for="email">Correo / usuario</label>
                        <input [disabled]="!flagNewUser" [(ngModel)]="user.username" name='email' type="email" 
                        class="form-control" aria-describedby="emailHelp" placeholder="Ingrese el correo" required>
                    </div>
                    <div class="col-12">
                        <label for="password">Contraseña</label>
                        <input [disabled]="!checkRol()" type="password" [(ngModel)]="user.password" 
                        name='password' class="form-control" placeholder="Contraseña" required> 
                    </div>
                    <div class="col-12">
                        <mat-form-field>
                            <mat-label>Rol</mat-label>
                            <mat-select [disabled]="!checkRol()" [(ngModel)]="user.rol" name="rol">
                              <mat-option *ngFor="let rol of listRoles" [value]="rol">
                                {{rol.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>

                    </div>
                    <div class="col-12">
                        <section >
                            <mat-checkbox [disabled]="!checkRol()" style="margin-top: 5px;" [(ngModel)]="user.status" name='status'>Activo</mat-checkbox>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12" *ngIf="checkRol()">
                        <button type="submit" (click) ="saveUser()"class="btn btn-success mtBtn">Guardar</button>
                    </div>
                    <div class="col-12" *ngIf="!flagNewUser && checkRol()">
                         <button type="button" (click)="deleteUser()" class="btn btn-danger mtBtn">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>


</form>
  
  
